{% extends "base.html" %} {% block title %}blank{% endblock title %}
 {% block content %}
<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <fieldset>
    <legend>user info</legend>
    <div>
      <label for="{{user_form.username.id_for_label}}"> userName: </label>
      {{user_form.username}}
       {% if user_form.username.errors %}
      <ul class="errorlist">
        {% for error in user_form.username.errors %}
         {{ error }} 
        {% endfor %}
      </ul>
      {% endif %}
    </div>

    <div>
        <label for="{{user_form.email.id_for_label}}">email</label>
        {{user_form.email}}
       {% if user_form.email.errors %}
      <ul class="errorlist">
        {% for error in user_form.email.errors %}
         {{ error }} 
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    <div>
        <label for="{{user_form.first_name.id_for_label}}">first_name</label>
        {{user_form.first_name}}
       {% if user_form.first_name.errors %}
      <ul class="errorlist">
        {% for error in user_form.first_name.errors %}
         {{ error }} 
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </fieldset>
</form>
{% endblock content %}