{% extends 'base.html' %}

{% block title %}Login - Django Blog{% endblock %}

{% block content %}
<h2>Login</h2>

<form method="post">
    {% csrf_token %}
    <div>
        <label for="{{ form.username.id_for_label }}">Username:</label>
        {{ form.username }}
        {% if form.username.errors %}
            <ul class="errorlist">
                {% for error in form.username.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div>
        <label for="{{ form.password.id_for_label }}">Password:</label>
        {{ form.password }}
        {% if form.password.errors %}
            <ul class="errorlist">
                {% for error in form.password.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <button type="submit">Login</button>
</form>

<p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
<p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
{% endblock %}