{% extends 'base.html' %}

{% block title %}Profile - Django Blog{% endblock %}

{% block content %}
<h2>My Profile</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <fieldset>
        <legend>User Information</legend>

        <div>
            <label for="{{ user_form.username.id_for_label }}">Username:</label>
            {{ user_form.username }}
            {% if user_form.username.errors %}
                <ul class="errorlist">
                    {% for error in user_form.username.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div>
            <label for="{{ user_form.email.id_for_label }}">Email:</label>
            {{ user_form.email }}
            {% if user_form.email.errors %}
                <ul class="errorlist">
                    {% for error in user_form.email.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div>
            <label for="{{ user_form.first_name.id_for_label }}">First Name:</label>
            {{ user_form.first_name }}
            {% if user_form.first_name.errors %}
                <ul class="errorlist">
                    {% for error in user_form.first_name.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div>
            <label for="{{ user_form.last_name.id_for_label }}">Last Name:</label>
            {{ user_form.last_name }}
            {% if user_form.last_name.errors %}
                <ul class="errorlist">
                    {% for error in user_form.last_name.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </fieldset>

    <fieldset>
        <legend>Profile Information</legend>

        <div>
            <label for="{{ profile_form.bio.id_for_label }}">Bio:</label>
            {{ profile_form.bio }}
            {% if profile_form.bio.errors %}
                <ul class="errorlist">
                    {% for error in profile_form.bio.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div>
            <label for="{{ profile_form.location.id_for_label }}">Location:</label>
            {{ profile_form.location }}
            {% if profile_form.location.errors %}
                <ul class="errorlist">
                    {% for error in profile_form.location.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div>
            <label for="{{ profile_form.birth_date.id_for_label }}">Birth Date:</label>
            {{ profile_form.birth_date }}
            {% if profile_form.birth_date.errors %}
                <ul class="errorlist">
                    {% for error in profile_form.birth_date.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div>
            <label for="{{ profile_form.avatar.id_for_label }}">Profile Picture:</label>
            {{ profile_form.avatar }}
            {% if user.profile.avatar %}
                <p>Current image: <img src="{{ user.profile.avatar.url }}" alt="Current Avatar" width="100"></p>
            {% endif %}
            {% if profile_form.avatar.errors %}
                <ul class="errorlist">
                    {% for error in profile_form.avatar.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div>
            <label for="{{ profile_form.website.id_for_label }}">Website:</label>
            {{ profile_form.website }}
            {% if profile_form.website.errors %}
                <ul class="errorlist">
                    {% for error in profile_form.website.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </fieldset>

    <button type="submit">Update Profile</button>
</form>

<p><a href="{% url 'my_blogs' %}">View My Blogs</a></p>
{% endblock %}